<div class="card">
  <div class="card-body">
    <div class="col publishedOn text-secondary text-center mb-1">
      {{article.publishedOn | dateformat:'DD MMM yyyy' }}
    </div>
    <h4 class="card-title">
      {{article.title}}
    </h4>
    <div class="row align-items-center">
      <author-view [author]="article.author"></author-view>
    </div>
    <div>
      <ng-container *ngFor="let category of article.categories">
        <category-view [category]="category"></category-view>
      </ng-container>
    </div>
    <p class="card-text">
      {{article.content | textshorter:100}}
      <i class="bi bi-box-arrow-up-right cursor-pointer" (click)="openArticle()"></i>
    </p>
    <div *authorized="true" class="">
      <i *ngIf="!isliked" class="bi bi-heart me-1 ms-2" (click)="likeArticle(true)"></i>
      <i *ngIf="isliked" class="bi bi-heart-fill me-1 ms-1" (click)="likeArticle(false)"></i>
      <i *ngIf="!isPinned" class="bi bi-pin-angle me-1 ms-1" (click)="pinArticle(true)"></i>
      <i *ngIf="isPinned" class="bi bi-pin-angle-fill me-2 ms-1" (click)="pinArticle(false)"></i>
    </div>
  </div>
</div>
