
<article-filter (update)="updateArticles($event)"></article-filter>


<div class="row align-items-center ms-1">
  <div class="bg-white col-2 p-1">
    <label>Page Size :</label>
    <select class="ms-1" [value]="paginatedArticles.pageSize" (change)="changePageSize($event)">
      <option value="10">10</option>
      <option value="25">25</option>
      <option value="50">50</option>
    </select>
    </div>
    <div class="col-10">
      <ngb-pagination [collectionSize]="paginatedArticles.pageSize*paginatedArticles.totalPageNumber"
                      [(page)]="paginatedArticles.pageNumber"
                      class="d-flex justify-content-end"
                      [maxSize]="5"
                      [pageSize]="paginatedArticles.pageSize"
                      [rotate]="true"
                      [ellipses]="false"
                      (pageChange)="updatePage($event)"
                      [boundaryLinks]="true"></ngb-pagination>

    </div>
  </div>

<div class="row">
  <div class="col-lg-3 col-md-6" *ngFor="let article of paginatedArticles.result">
    <article-model [article]="article"></article-model>
  </div>
</div>

